/* ------------------ LAYOUT ------------------ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------- LOGO ------------------- */

.logo a {
    display: flex;
    color: var(--light-gray);
    text-decoration: none;
}
.logo a h1 {
    font-size: 2rem;
    font-variant: small-caps;
    letter-spacing: 5px;
    font-weight: 200;
    transition: color 500ms ease-in-out;
}
.logo a h1:hover {
    color: var(--white);
    font-weight: 400;
}

/* --------------- NAVBAR LINKS --------------- */

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    min-width: 135px;
    text-align: center;
}
.navbar ul li button {
    cursor: pointer;
    padding: 5px 10px;

    transition: color var(--transition-short);
}

.navbar ul li button:hover {
    color: var(--white);
    font-weight: 300;
}
