.letsChatContainer {
    display: flex;
    gap: 5rem;
}

.form {
    display: flex;
    flex: 1 0 70%;
    flex-direction: column;
}

.form textarea,
.form input {
    padding: 0.5rem 0.8rem;
    border: none;
    border-bottom: 1px solid var(--dark-gray);
    caret-color: var(--dark-gray);
    background-color: transparent;
    outline: none;
    resize: none;
    color: var(--light-gray);
    font-weight: 100;
}

.form input:last-of-type {
    background-color: var(--light-blue-black);
    color: var(--dark-gray);
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition-property: color background-color letter-spacing;
    transition: 200ms ease-in-out;
}
.form input:last-of-type:hover {
    color: var(--light-gray);
    background-color: var(--extra-light-blue-black);
    letter-spacing: 3px;
}
.form textarea {
    border: none;
}

.socials {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socials h1 {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
}
.socials h2 {
    font-size: 1rem;
    font-weight: 100;
}
.socials a {
    font-size: 1.8rem;
    margin: 0 0.5rem;
    color: var(--mid-gray);

    transition: color 200ms ease-in-out;
}
.socials a:hover {
    color: var(--light-gray);
}
