/* --------------------------- IMPORTS ---------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,400&display=swap');

:root {
    /* --------------------- CSS COLOR VARIABLES ---------------------- */

    --dark-blue-black: #050518;
    --mid-blue-black: #1a1a27;
    --light-blue-black: #21212c;
    --extra-light-blue-black: #2a2a36;

    --light-gray: #f0f0f0;
    --low-gray: #ddd;
    --mid-gray: #bbbbbb;
    --dark-gray: #808080;
    --extra-dark-gray: #333;
    --white: #ffffff;

    --accent-blue: #003366;
    --accent-blue-light: #005fbd;

    /* ---------------------- CSS FONT VARIABLES ---------------------- */

    --font: 'Source Code Pro', monospace;
    --text-size: 18px;
    --text-weight: 200;

    /* ------------------ CSS TRANSITIONS VARIABLES ------------------- */

    --transition-short: 200ms ease-in-out;
    --transition-mid: 300ms ease-in-out;
    --transition-long: 400ms ease-in-out;

    /* ---------------- CSS SIZING / SPACING VARIABLES ---------------- */

    --sides-blank-area: 15vw;
}

/* -------------------------- CSS RESET --------------------------- */
* {
    margin: 0;
    padding: 0;
}
html,
body {
    box-sizing: border-box;
    height: 100%;
}
body ::selection {
    background-color: var(--accent-blue);
}

button {
    border: none;
    background-color: transparent;
}
a {
    text-decoration: none;
}

/* CSS THEME SETUP */

body,
button {
    /* cursor: cell; */
    background: var(--dark-blue-black);
    color: var(--mid-gray);
    font-family: var(--font);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
}
button {
    font-family: var(--font);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
}
a {
    color: var(--white);
}

/* ---------------------------------------------------------------- */
/* ------------------ TABLET AND MOBILE QUERIES ------------------- */
/* ---------------------------------------------------------------- */

@media (max-width: 900px) {
    :root {
        --sides-blank-area: 1rem;
    }
}
@media (max-width: 400px) {
    :root {
        --sides-blank-area: 0.5rem;
    }
}
